Importação das Bibliotecas

In [22]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
pd.set_option('display.max_columns', None)

Leitura do arquivo JSON

In [10]:
data1 = pd.read_json('/content/dados.json')

Limpeza dos dados

In [20]:
data1.drop(data1[data1['valor'] == 0].index, inplace=True)

In [21]:
data1.head(30)

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
5     6  26742.6612
7     8  42889.2258
8     9  46251.1740
9    10  11191.4722
12   13   3847.4823
13   14    373.7838
14   15   2659.7563
15   16  48924.2448
16   17  18419.2614
19   20  35240.1826
20   21  43829.1667
21   22  18235.6852
22   23   4355.0662
23   24  13327.1025
26   27  25681.8318
27   28   1718.1221
28   29  13220.4950
29   30   8414.6100

a) Menor faturamento ocorrido em um dia do mês

In [36]:
data1['valor'].agg(['min'])

min    373.7838
Name: valor, dtype: float64

b) Maior faturamento ocorrido em um dia do mês

In [37]:
data1['valor'].agg(['max'])

max    48924.2448
Name: valor, dtype: float64

c) Número de dias no mês em que o valor de faturamento diário foi superior à média mensal.

In [26]:
data1['valor'].mean()

20865.370166666664

In [34]:
data2 = data1[data1['valor'] >= data1['valor'].mean()]
data2

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
5     6  26742.6612
7     8  42889.2258
8     9  46251.1740
15   16  48924.2448
19   20  35240.1826
20   21  43829.1667
26   27  25681.8318

In [35]:
data2[data2.columns[0]].count()

10